## <u>While doing this assignment only use those concepts which have been taught till now</u>

## <u>Problem 1</u>

A list contains the average daily temperature(in degree Celsius) of a city over a particular week. Write a Python code to swap the highest and the lowest temperatures

In [2]:
# A list containing average daily temperature over a week
temperatures = [34, 40, 29, 33, 42, 37, 39 ]

# The expected output
# output_temperatures = [34, 40, 42, 33, 29, 37, 39]

In [3]:
# Store the highest temperature
max_temp = max(temperatures)

# Index of the element with the highest temperature
max_temp_index = temperatures.index(max_temp)

In [4]:
# Store the lowest temperature
min_temp = min(temperatures)
# Index of the element with the lowest temperature
min_temp_index = temperatures.index(min_temp)

In [5]:
# Swap the highest and the lowest temperatures
temperatures[max_temp_index],temperatures[min_temp_index]=temperatures[min_temp_index],temperatures[max_temp_index]

In [6]:
# Print the output list
print(temperatures)

[34, 40, 42, 33, 29, 37, 39]


## <u>Problem 2 </u>

### Measures of Averages

* Mean of a group is defined as the sum of the elements in the group divided by the number of elements in the group.
* Median is the middle number in a <b>sorted</b>, ascending or descending, list of numbers. If the list has $N$ numbers where $N$ is odd, then median is the element in the middle i.e, $(\frac{N+1}{2})^{th}$ element. If $N$ is even, then median is the mean of $(\frac{N}{2})^{th}$ and $(\frac{N}{2}+1)^{th}$ elements

In [12]:
# List of product prices
import math
prod_price_list = [400, 250, 800, 550, 600, 820, 720, 15000, 360,250]

In [8]:
# Calculate the mean of the product prices. Use list functions. Also print the mean_price
sum=0
cnt=0
for i in prod_price_list:
    sum+=i
    cnt+=1
mean_price = round((sum/cnt),2)
print(mean_price)

1975.0

### Calculate the median price

In [9]:
# Step 1 - Obtain the sorted list. Print the sorted_prices
sorted_prices = sorted(prod_price_list)

In [10]:
# Check if the number of elements in the list is even or odd
num_of_list=""
if cnt/2==0:
    num_of_list="even"
else:
    num_of_list="odd"

In [13]:
# Use the corresponding formula to calculate the median and print the median
if num_of_list=="even":
    median_price = sorted_prices[(cnt/2)-1]+sorted_prices[(cnt/2)]
else:
    median_price = sorted_prices[math.ceil(cnt/2)]
print(median_price)

600

In [14]:
# Check which is greater, mean or median
res = max(mean_price,median_price)
print(res)

1975.0

### Why do you think that is the case??

### <u>Write your explanation in this text cell</u>

Your explanation :

## <u> Problem 3 </u>

Having a nested list sometimes might be a bit problematic. An individual was asked to collect the names of companies in the technology sector. While creating the list, by mistake the last three companies were subsumed in a list as shown below. You are required to get rid of the nesting

In [15]:
# The list of tech companies curated by the individual
tech_companies = ['Qualcomm','Google','Apple',['Nvidia','Cisco','Samsung']]

# The final list that we want
# correct_tech_companies = ['Qualcomm','Google','Apple','Nvidia','Cisco','Samsung']

In [31]:
# Write your code below
def flatten_list(lst):
    res=[]
    for item in lst:
        if isinstance(item,list):
            res.extend(flatten_list(item))
        else:
            res.append(item)
    return res
correct_tech_companies=flatten_list(tech_companies)
print(correct_tech_companies)

['Qualcomm', 'Google', 'Apple', 'Nvidia', 'Cisco', 'Samsung']

In [34]:
# Do the same task another way

['Qualcomm', 'Google', 'Apple', ['Nvidia', 'Cisco', 'Samsung']]